{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
Información de tu Perfil
{% endblock %}
{% block body %}
<!--Formulario-->

<div class="row h-100">
  <div class="col-md-6 mx-auto my-auto">
    <div class="card mb-5 align-center">
      <div class="card-body">
        <h3 class="card-title"><strong>Tus datos</strong></h3>
        <h6>Nombre</h6>
        <p class="card-text">{{user.user.first_name}} {{user.user.last_name}}</p>
        <h6>Email</h6>
        <p class="card-text">{{user.user.email}}</p>
        <h6>Calle</h6>
        <p class="card-text">{{user.address}}</p>
        <h6>Ciudad</h6>
        <p class="card-text">{{user.city}}</p>
        <h6>Telefono</h6>
        <p class="card-text">{{user.phone}}</p>
        <a href="{% url 'auth:edit' %}" class="btn btn-primary mr-2"><i class="far fa-edit text-center"></i></a>
        <a href="{% url 'auth:change_password' %}" class="btn btn-primary"><i class="fas fa-key"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


<!-- <div class="row round-borderform">
     <div class="col">
        <h2>Perfil</h2>  -->