{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Información de tu Perfil
{% endblock %}
{% block content_head %}
<!--Titulo-->


{% endblock %}
{% block content_body %}
<!--Formulario-->

<div class="row mt-5">
    <div class="col-12">
        <div class="card mb-5" style="width: 100%;">
            <div class="card-body">
                <h3 class="card-title"><strong>Tu compra</strong></h3>
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody class="table-borderless">
                        {% for buy in compras %}
                        <tr>
                            <td>{{buy.product}}</td>
                            <td>{{buy.quantity}}</td>
                            <td>{{buy.product.price}}</td>
                        </tr>
                        {% endfor %}
                        {% if total %}
                        <tr>
                            <td>{{total.total}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!-- <div class="row round-borderform">
     <div class="col">
        <h2>Perfil</h2>  -->